<!DOCTYPE html>
<html>
    <footer>
        <script>
            var date = new Date();
            var year = date.getFullYear();
            document.write('<p>Copyright &copy; ' + year + '</p>');
        </script>
    </footer>
</html>